body{
	margin: 5px;
}
header, nav, footer{
	border : 1px solid;
	margin-bottom: 5px;
	text-align: center;
	height: 90px;
	width: 100%;
}
aside{
	border: 1px solid;
	float: right;
	margin-bottom: 5px;
	height: 344px;
	width: 30%;
	text-align: center;
}
section , article{
	border: 1px solid;
	height: 170px;
	width: 68%;
	margin-bottom: 5px;
	text-align: center;
}
