body{
	margin: 0px;
}
h1, h2{
	margin: 0px;
}
header{
	background-color: #d0ffdd;
	height: 70px;
	width: 100%;
}
.content{
	background-color: #ff9fa0;
	height: 520px;
	width: 100%;
}
.left-content li{
	display: block;
	background-color: #a4e4ff;
	margin-bottom: 5px;
	height: 140px;
	width: 55%;
	padding: 5px;
}
.right-content li{
	float: right;
	display: inline-block;
	background-color: #a4e4ff;
	height: 458px;
	width: 40%;
	margin-right: 10px;
	text-align: center;
}
.left-content, .right-content{
	font-size: 20px;
	font-weight: bold;

}
footer{
	background-color: #83ff9f;
	height: 70px;
	width: 100%;
}