* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    clear: both;
}
span{
    position: relative;
    left: 15px;
}
header{
    padding-bottom: 50px;
    width: auto;
    overflow: hidden;
    background-image: url("../image/street-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text{
    float: right;
    margin-right: 150px;
    margin-bottom: 0;
}
.park{
    font: bold 50px "Raleway" , sans-serif;
    color: #ffffff;
}
.title{	
    margin-top: 150px;
    font: 50px "Raleway" , sans-serif;
    color: #ffffff;
    margin-bottom: 10px;
}
.info{
    margin: 0;
    padding-top: 0;
    font: 25px "Raleway", sans-serif;
    color: #ffffff; 
}
.logo img{
    padding-top: 15px;
    margin: 3px auto 60px auto; 
    display: block;
}
.phone img{
    float: left;
    margin-left: 40px;
    height: 550px;
    width: 500px;
}
.btn-download,
.btn-learn{
    margin-top: 30px;
    float: left;
    text-decoration: none;
    font: 17px "Raleway", sans-serif;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
}
.btn-download{
    padding: 23px 40px;
    background-color: #f8a01e;
    border: 0;
}
.btn-learn{
    padding: 21px 40px;
    margin-left: 20px;
    width: 210px;
    background-color: transparent;
    border: 2px solid;
    border-color: #ffffff;
}
.information{
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    font: 18px "Open Sans", sans-serif;
}
.desc{
    padding: 20px;
    width: 25%;
    float: left;
    font-family: 'Open Sans', sans-serif;
}
.icon-desc{
    height: 80px;
}
.desc h3{
    margin-bottom: 3px;
}
.desc p{
    margin-top: 0;
    line-height: 30px;
}
.discover{
    margin-top: 140px;
    margin-bottom: 140px;
    overflow: hidden;
}
.ios,
.android{
    margin-right: -15px;
    width: 50%;
    height: 570px;
    width: 290px;
    float: left;
}
.description{
    margin-left: 50px;
    padding: 20px;
    width: 50%;
    float: left;
    font: 22px "Open Sans", sans-serif ;
}
.description h1{
    margin-top: 20px;
    font-size: 50px;
}
.description img{
    margin-top: 50px;
}
.description p{
    line-height: 35px;
}
.btn-google,
.btn-apple{
    padding: 15px 45px;
    margin-top: 60px;
    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 20px center;
    border-radius: 50px;
    text-decoration: none;
}
.btn-google{
    float: left;
    background-image: url("../image/playstore.png");
}
.btn-apple{
    float: right;
    width: 270px;
    background-image: url("../image/appstore.png");
}
.download{
    padding-left: 15px;
    font: 12px "Montserrat" , sans-serif;
    display: block;
}
.store{
    padding-left: 15px;
    display: block;
    font: bold 15px "Montserrat", sans-serif;
}
.simplest-ui{
    background-color: #fc7e10;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
.ui img{
    float: left;
    width: 50%;
    padding: 20px;
    height: 500px;
    width: 600px;
}
.simplest-ui h1{
    font-size: 50px;
}
.simplest-ui .info{
    float: left;
    font: 20px "Open Sans", sans-serif;
    width: 50%;
    padding: 20px;
}
.info ul{
    float: left;
    font: 20px "Open Sans", sans-serif;
    width: 50%;
    padding: 20px;
    list-style: none;
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
}
.info ul li{
    padding: 10px 0;
}
.name{
    position: relative;
    left:15px;
}
.updates{
    padding: 50px 0 70px 0;
    background-color: #dddddd;
    overflow: hidden;
    text-align: center;
}
.sub-update h3{
    font: bold 30px "Open Sans", sans-serif;
}
.sub-update p{
    font: 20px "Open Sans", sans-serif;
}
.details input{
    margin-top: 30px;
    padding: 10px;
    padding-left: 20px;
    margin-right: 20px;
    width: 270px;
    font: bold 15px "Open Sans", sans-serif;
    border: 0;
}
.submit{
    padding: 10px;
    margin-top: 25px;
    width: 250px;
    font: bold 20px "Open Sans" , sans-serif ;
    color: #ffffff;
    background-color: #fc7e10;
    border: 0;
    border-radius: 25px;
}
footer{
    overflow: hidden;
    background-color: #60615c;
}
footer .col{
    padding: 30px 0;
    margin-top: 10px;
    float: left;
}
footer .col .left-side{
    margin: 5px;
    font: 15px "Open Sans", sans-serif;
    color: #ffffff;
}
footer .col .left-side a{
    text-decoration: none;
    color: #ffffff;
}
footer .col .copyright{
    margin: 5px;
    padding-left: 15px;
    font: 15px "Open Sans", sans-serif;
    color: #ffffff;
}
footer .col .privacy:after{
    content: '\09 \2022';
    margin: 0 5px;
}
footer .col .terms: before{
    content: '\09';
}
footer .col:last-child{
    margin-top: 0;
    float: right;
}
footer .right-side{
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 0;
    text-align: right;
    font: 20px "Open Sans", sans-serif;
    color: #ffffff;
}
footer .media{
    height: 40px;
}