body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 7%;
    clear: both;
}
header{
    padding-bottom: 70px;
    background-image: url("../image/street-background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.header .logo img{
    box-sizing: border-box;
    display: block;
    margin-top: 15px;
    padding-left: 30px;
}
.header .phone{
    margin-top: 70px;
    height: 550px;
}
.header .left{
    padding-right: 0;    
    margin-left: 80px;
    padding-left: 0;

}
.header .title{
    margin-top: 200px;
    font: 38px "Raleway" , sans-serif;
    color: #ffffff;
    margin-bottom: 15px;
}
.header .info{
    margin: 0;
    padding-bottom: 1px;
    font: 25px "Raleway", sans-serif;
    color: #ffffff; 
}
.header .btn-grp{
    margin-top: 48px;
}
.header .btn-grp .download,
.header .btn-grp .learn{
    text-decoration: none;
    font: 20px "Raleway", sans-serif;
    color: #ffffff;
    text-align: center;
}
.header .download{
    padding: 22px 38px;
    background-color: #f8a01e;
    border: 0;
}
.header .learn{
    padding: 20px 50px;
    margin-left: 20px;
    width: 260px;
    background-color: transparent;
    border: 2px solid;
    border-color: #ffffff;
}
.information{
    margin: 66px 0 105px;
    overflow: hidden;
}
.information .desc{
    padding: 20px 30px 20px 5px;
    width: 25%;
    float: left;
}
.information .icon-desc{
    height: 51px;
}
.information .desc h3{
    padding-top: 8px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 22px;
}
.information .desc p{
    font-size: 18px;
    line-height: 1.8em;
}
/* discover */
.discover {
    margin: 145px 0 175px 0;
    overflow: hidden;
}
.discover .gadget{
    padding-left: 0;
}
.discover .ios{
    padding: 0;
    height: 520px;
    width: 270px;
}
.discover .android{
    padding-left: 0;
    height: 520px;
    width: 290px;
}
.discover .des{
    padding-left: 0;
}
.discover .description{
    margin-left: 15px;
}
.discover .description h2 {
    margin: 25px 0 20px;
    font-size: 65px;
    font-weight: bold;
}
.discover .description p{
    font-size: 22px;
    line-height: 1.8em;
}
.discover .btn-group{
    margin-top: 45px;
}
.discover .btn-group .btn-google,
.discover .btn-group .btn-apple{
    margin-top: 5px;
    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: 15px center;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    box-shadow: -2px 0px 13px 0 #808080;
    width: 260px;
}
.discover .btn-google{
    padding: 18px 22px;
    background-image: url("../image/playstore.png");
}
.discover .btn-apple{
    padding: 18px 24px;
    background-image: url("../image/appstore.png");
    margin-left: 20px;
}
.discover .btn-download{
    padding-left: 50px;
    font: 12px "Montserrat", sans-serif;
    display: block;
}
.discover .btn-store{
    padding-left: 50px;
    font: bold 14px "Montserrat", sans-serif;
    display: block;
}
/*simplest-ui*/
.simplest-ui {
    padding: 50px 0 45px;
    overflow: hidden;
    background-color: #fc7e10;
    color: #ffffff;
}
.simplest-ui .image{
    margin-top: 5px; 
}
.simplest-ui h1{
    margin-bottom: 50px;
    font-size: 53px;
    font-weight: bolder;
}
.simplest-ui .info{
    margin-top: 18px;
    font-size: 20px;
    padding: 20px;
}
.simplest-ui .info ul{
    margin-top: 0;
    padding-left: 1px;
    float: left;
    font-size: 23px;
    list-style: none;
    display: inline-block;
}
.simplest-ui .info ul li{
    padding: 10px 0;
}
.simplest-ui .info .fa{
    width: 40px;
}
/*updates*/
.updates {
    padding: 65px 0 110px;
    background-color: #dddddd;
    overflow: hidden;
    text-align: center;
}
.updates .sub-update h3{
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 54px;
}
.updates .sub-update p{
    font-size: 21px;
}
.updates .details input{
    margin-top: 43px;
    padding: 13px 30px;
    padding-left: 20px;
    margin-right: 20px;
    width: 270px;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    background-color: #eeeeee;
}
.updates .submit{
    padding: 10px 20px;
    margin-top: 30px;
    width: 315px;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    background-color: #fc7e10;
    border: 0;
    border-radius: 30px;
}
/*footer*/
footer{
    padding: 50px 0;
    overflow: hidden;
    background-color: #60615c;
}
footer .left-side{
    padding-top: 20px;
    font-size: 17px;
    color: #ffffff;
}
footer .left-side a{
    text-decoration: none;
    color: #ffffff;
}
footer .policy{
    margin: 3px;
}
footer .copyright{
    margin-top: 5px;
    font-size: 17px;
}
footer .left-side .privacy:after{
    content: '\09 \2022';
    margin: 0 5px;
}
footer .left-side .terms:before{
    content: '\09';
}
footer .right-side{
    margin-top: 0; 
    float: right;
}
footer .right-side p{
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 0;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
}
footer .media{
    height: 53px;
}
@media (max-width: 1024px){
    .container{
        width: 100%;
    }
}
 /*Ipad Pro */
@media (min-width: 768px) and (max-width: 1024px) {
     /* header */
     .container{
        width: auto;
     }
    .phone{
        padding-left: 25px;
        height: 240px;
    }
    .logo img{
        padding-left: 30px;
    }
    .left{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }
     .title{
        margin-top: 90px;
        font: 28px "Raleway" , sans-serif;
    }
    .info{
        font: 16px "Raleway", sans-serif;
    }
    .btn-grp{
        margin-top: 40px;   
    }
    .btn-grp .download,
    .btn-grp .learn{
        font: 12px "Raleway", sans-serif;
    }
    .download{
        padding: 13px 20px;
        background-color: #f8a01e;
        border: 0;
    }
    .learn{
        padding: 11px 25px;
        margin-left: 15px;
        width: 210px;
        background-color: transparent;
        border: 1px solid;
    }
     /* information */
     .information{
        margin: 55px 0 50px;
     }
    .information .desc{
        padding: 30px 30px;
        width: 50%;
    }
    .icon-desc{
        height: 40px;
    }
    .desc h3{
        font-size: 20px;
        font-weight: bold;
    }
    .desc p{
        font-size: 15px;   
    }
        /* discover */
    .discover{
        margin-top: 60px;
        padding-bottom: 30px;
    }
    .ios{
        padding-left: 30px;
        height: 240px;
        width: 140px;
    }
    .android{
        padding-right: 30px;
        height: 240px;
        width: 145px;
    }
    .gadget{
        padding: 0;
    }
    .des{
        padding-left: 0;
    }
    .discover h2{
        margin: 0;
        padding: 20px 0 15px;
        font-size: 25px;
    }
    .description{
        padding-right: 5px;
    }
    .description h1{
        margin-bottom: 15px;
        font-size: 35px;
        font-weight: bold;
    }
    .description p{
        padding-right: 10px;
        line-height: 1.5em;
        font-size: 15px;
    }
    .btn-group{
        margin-top: 20px;
        margin-right: 13px;
    }
    .btn-group .btn-google,
    .btn-group .btn-apple{
        background-position: 5px center;
        background-size: 35px;
    }
    .btn-google{
        padding: 15px 10px;
    }
    .btn-apple{
        padding: 15px 20px;
        width: 147px;
    }    
    .btn-download{
        padding-left: 28px;
        font: 7px "Montserrat", sans-serif;
    }
    .btn-store{
        padding-left: 28px;
        font: bold 8px "Montserrat", sans-serif;
    }
        /* simplest-ui*/
    .image{
        margin-top: 20px;
    }
    .simplest-ui .info{
        margin-top: 0;
    }
    .simplest-ui h1{
        margin-bottom: 15px;
        font-size: 30px;
        font-weight: bold;
    }
    .info ul{
        padding: 10px 0 0;
    }
    .info ul li{
        font-size: 22px;
        list-style: none;
        display: inline-block;
    }
    /*updates*/
    .sub-update h3{
        font-size: 40px;
    }
    .sub-update p{
        font-size: 25px;
    }
    .details input{
        margin-top: 43px;
        padding: 15px 30px;
        padding-left: 20px;
        margin-right: 20px;
        width: 280px;
        font-weight: bold;
        font-size: 20px;
        border: 0;
    }
    .submit{
        padding: 10px 20px;
        margin-top: 30px;
        width: 315px;
        font-weight: bold;
        font-size: 25px;
        color: #ffffff;
        background-color: #fc7e10;
        border: 0;
        border-radius: 30px;
    }
    /* footer */
    footer{
        padding: 30px 0 40px;
    }
    footer .policy{
        padding-left: 10px;
        margin: 3px;
        font-size: 17px;
    }
    footer .copyright{
        margin-top: 0;
        padding-left: 10px;
        font-size: 17px;
    }
    footer .right-side{
        margin-top: 0;
        padding-right: 10px;
    }
    footer .right-side p{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 20px;
    }
    footer .media{
        height: 30px;
    }
}
/* Iphone 6 */
@media (min-width:375px) and (max-width: 414px) {
    /* header */
    .container {
        width: auto;
    }
    .left{
        margin-left: 0;
        padding-left: 0; 
    }
    .logo img {
        height: 30px;
        padding-left: 50px;
    }
    .phone{
        margin-top: 30px;
        height: 120px;
    }
    .title{
        margin-top: 18px;
        margin-bottom: 10px;
        font: 16px "Raleway" , sans-serif;
    }
    .info{
        font: 9px "Raleway", sans-serif;
    }
    .btn-grp{
        margin-top: 20px;
        padding-left: 0;
    }
    .btn-grp .download,
    .btn-grp .learn{
        font: 8px "Raleway", sans-serif;
    }
    .download{
        padding: 10px 12px;
    }
    .learn{
        margin-left: 5px;
        padding: 8px 12px;
    }
        /* information */
    .information .desc{
        padding: 30px 30px 30px 40px;
        width: 100%;
    }
    .icon-desc{
        height: 50px;
    }
    .desc h3{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .desc p{
        font-size: 17px;
        line-height: 30px;
    }
    /* discover */
    .discover {
        margin-top: 45px;
        margin-left: 20px;
        margin-bottom: 100px;
    }
    .ios{
        height: 240px;
        width: 135px;
    }
    .android{
        height: 240px;
        width: 145px;
    }
    .des{
        padding-right: 0;
    }
    .description h2{
        margin: 45px 0 10px;
        font-size: 25px;
        font-weight: bold;
    }
    .description p{
        line-height: 25px;
        font-size: 17px;
    }
    .btn-group .btn-google,
    .btn-group .btn-apple{
        background-position: 5px center;
        background-size: 25px;
    }
    .btn-google{
        padding: 10px 13px;
    }
    .btn-apple{
        padding: 10px 15px;
        width: 130px;
    }
    .btn-download{
        padding-left: 20px;
        font: 7px "Montserrat", sans-serif;
    }
    .btn-store{
        padding-left: 20px;
        font: bold 8px "Montserrat", sans-serif;
    }
       /* simplest-ui*/
    .simplest-ui{
        padding: 30px 0;
    }
    .info .fa{
        width: 20px;
    }
    .image{
        margin-top: 30px;
    }
    .simplest-ui .info{
        padding: 0;
    }
    .simplest-ui h1{
        margin-bottom: 5px;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }
    .info .fa{
        width: 40px;
    }
    .info ul{
        margin-left: 25px;
        padding: 10px 0 0;
    }
    .info ul li{
        padding: 0;
        font-size: 20px;
    }
    /* updates */
    .updates h3{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .updates p{
        font-size: 18px;
    }
    .details input{
        margin-top: 20px;
        padding: 10px;
        padding-left: 20px;
        margin-right: 20px;
        width: 250px;
        font-weight: bold
        font-size: 10px;
        border: 0;
    }
    .submit{
        padding: 10px;
        margin-top: 25px;
        width: 200px;
        font-weight: bold
        font-size: 15px;
        color: #ffffff;
        border: 0;
        border-radius: 25px;
    }
     /* footer */
    footer{
        padding: 20px 0 40px;
        text-align: center;
    }
    footer .policy{
        padding-left: 8px;
        font-size: 15px;
    }
    footer .copyright{
        margin-top: 0;
        padding-left: 10px;
        font-size: 14px;
    }
    footer .right-side{
        margin-top: 10px;
        padding-right: 100px;
        text-align: center;
    }
    footer .right-side p{
        margin: 3px 0 2px;
        font-size: 18px;
    }
    footer .media{
        height: 20px;
    }
}
/* Iphone 5 */
@media (max-width: 320px) {
    /* header */
    .container {
        width: auto;
    }
    .header{
        padding-bottom: 4   0px;
    }
    .logo img {
        height: 25px;
        padding-left: 50px;
    }
    .phone{
        margin-top: 25px;
        height: 100px;
    }
    .left{
        margin-left: 0;
        padding-left: 0;
    }
    .title{
        margin-top: 18px;
        margin-bottom: 10px;
        font: 12px "Raleway" , sans-serif;
    }
    .info{
        font: 7px "Raleway", sans-serif;
    }
    .btn-grp{
        margin-top: 20px;
        padding-left: 0;
    }
    .btn-grp .download,
    .btn-grp .learn{
        font: 7px "Raleway", sans-serif;
    }
    .download{
        padding: 8px 9px;
    }
    .learn{
        margin-left: 5px;
        padding: 6px 10px;
    }
        /* information */
    .information{
        margin: 45px 0 50px;
     }
    .information .desc{
        padding: 20px 0 30px 40px;
        width: 100%;
    }
    .icon-desc{
        height: 35px;
    }
    .desc h3{
        margin-bottom: 5px;
        font-size: 20px;
    }
    .desc p{
        font-size: 17px;
        line-height: 30px;
    }
    /* discover */
    .discover {
        margin-top: 45px;
        margin-left: 20px;
        margin-bottom: 100px;
    }
    .gadget{
        margin-left: 45px;
    }
    .ios{
        height: 130px;
        width: 70px;
    }
    .android{
        height: 130px;
        width: 90px;
    }
    .des{
        padding-right: 0;
    }
    .description h2{
        margin: 45px 0 10px;
        font-size: 25px;
        font-weight: bold;
    }
    .description p{
        line-height: 25px;
        font-size: 15px;
    }
    .btn-group{
        margin-left: -5px;
    }
    .btn-group .btn-google,
    .btn-group .btn-apple{
        background-position: 5px center;
        background-size: 25px;
    }
    .btn-google{
        padding: 10px 13px;
    }
    .btn-apple{
        padding: 10px 15px;
        width: 115px;
    }
    .btn-download{
        padding-left: 15px;
        font: 6px "Montserrat", sans-serif;
    }
    .btn-store{
        padding-left: 15px;
        font: bold 7px "Montserrat", sans-serif;
    }
       /* simplest-ui*/
    .simplest-ui{
        padding: 30px 0;
    }
    .info .fa{
        width: 20px;
    }
    .image{
        margin-top: 20px;
    }
    .simplest-ui .info{
        padding: 0;
    }
    .simplest-ui h1{
        margin-bottom: 5px;
        font-size: 30px;
    }
    .info .fa{
        width: 30px;
    }
    .info ul{
        margin-left: 23px;
        padding: 10px 0 5px;
    }
    .info ul li{
        padding-bottom: 5px;
        font-size: 15px;
    }
    /* updates */
    .updates {
        padding-top: 50px;
    }
    .updates h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    .updates p{
        font-size: 15px;
    }
    .updates .details input{
        margin-top: 20px;
        padding: 10px;
        padding-left: 20px;
        margin-right: 20px;
        width: 250px;
        font-weight: bold
        font-size: 10px;
        border: 0;
    }
    .updates .submit{
        padding: 10px;
        margin-top: 25px;
        width: 200px;
        font-size: 15px;
    }
     /* footer */
    footer{
        padding: 20px 0 40px;
        text-align: center;
    }
    footer .policy{
        padding-left: 8px;
        font-size: 13px;
    }
    footer .copyright{
        margin-top: 0;
        padding-left: 10px;
        font-size: 12px;
    }
    footer .right-side{
        margin-top: 10px;
        padding-right: 60px;
        text-align: center;
    }
    footer .right-side p{
        margin: 3px 0 2px;
        font-size: 18px;
    }
    footer .media{
        height: 20px;
    }
}
