.container {
    padding-left: 0;
}
body {
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.kitty{
    height: 400px;
    width: 250px;
    margin: 20px 20px;
    background-color: #FFA07A;
    border-radius: 20px;  
}
.hkitty{
    height: 200px;
    width: 200px;
    margin-left: 15px;
}
.count{
    font-size: 80px;
    text-align: center;
}
.btn-click{
    padding: 15px 55px;
    margin-left: 20px;
    font-size: 15px;
}